// Estilo about 

.main-about {
    .section-about {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

        .description {
            margin: $r;

            p {
                max-width: 800px;
                font-size: 1em;
                border-radius: .5rem;
                padding: 0.5em;
                background-color: $bgcolorb;
            }
        }

        .frameAbout {
            @extend .img-frame;
            width: 320px;
        }
    }
}

.section-tabla {
    width: 100%;
    padding-bottom: $r;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        @include titleh2
    }

    .tabla-about {
        th {
            padding: $r - 1;
            border: $a*3 solid #000000;
            text-align: center;
            background-color: $bgcolor;
        }

        td {
            padding: $r - 1;
            margin: $r - 1.5;
            border: $a*2 solid #000000;
            background-color: $bgcolorb;
        }



    }
}