main {
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: $r;

        .intro-contacto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-left: $r - 1.5;
            padding-top: $r - 1;

            h2 {
                font-size: $r - 0.5;
                text-align: center;
                max-width: 80%;
                padding: $r - 1.5;
                background-color: $bgcolorb;
                border-radius: 12px;

            }
        }

        .mb-3 {
            width: 20rem;

        }

        .boton--contacto {
            @include boton
        }

        p {
            font-size: $r - 1;
            text-align: center;
            max-width: 30%;
            color: #fff;
        }
    }
}