/* ESTILO BODY  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin sans";
    background-image: url(../imagenes/varying-stripes.svg);;
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

// Estilo de titulos

h1 {
    text-align: center;
    padding: 0.5em;
    color: $color-link;
    border-radius: 15px;
    background-color: $bgcolor-second;
    margin-top: 2em;
    margin-bottom: 1em;
}

// Estilo Nav

nav {
    background-color: $bgcolor;

    .logo {
        width: 12rem;
        animation-name: backflip;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-delay: 0.2s;

        &:hover {
            transform: rotateZ(-3deg);
        }
    }

    .nav-item {
        font-size: 1.2em;
    }
}

// Estilo Footer

footer {
    background-color: $bgcolor;

    .rowF1 {
        .footer-title {
            color: $color-link;
            padding-top: 1em;
            display: flex;
            justify-content: center;
        }

        li {
            list-style-type: none;
            padding-right: 1.5em;

            a {
                text-decoration: none;
                color: $color-link;
                display: flex;
                justify-content: center;

                &:hover {
                    color: #d1d3da
                }

            }
        }


        .redes-sociales {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 0.5em;
            gap: 1em;

            i {
                font-size: 40px;
                color: $color-link;

                &:hover {
                    color: #d1d3da
                }
            }


        }

        .footer-logo {
            width: 15rem;

            &:hover {
                width: 17rem;
            }
        }
    }

    .rowF2 {
        p {
            color: $color-link
        }
    }
}