/* ESTILO BODY  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans";
    background-image: url("../imagenes/fondos/texturebg-1.png"), url("../imagenes/fondos/texturebg-2.png");
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

// Estilo Nav

header {

    .navbar {
        background-color: $bgcolorb;
        margin-bottom: $r;

        .logo {
            width: $r*5;
            animation-name: backflip;
            animation-duration: 2s;
            animation-timing-function: ease;
            animation-delay: 0.5s;

            &:hover {
                transform: rotateZ(-3deg);
                animation-timing-function: ease;
                animation-delay: 0.5s;
    
            }
        }

        .nav-link {
            font-family: "Archivo Black";
            font-weight: 300;
            font-size: $r - 0.6;

            &:hover {
                color: #fff !important;
            }
        }

        .dropdown-menu {
            width: fit-content;
            background-color: $bgcolorb;
            font-family: "Archivo Black";
        }
    }
}

// Estilo Footer

footer {

    background-image: url(../imagenes/wfooter.svg);
    background-size: cover;

    .rowF1 {
        margin-top: $r*5;

        .footer-title {
            display: flex;
            justify-content: center;
        }

        li {
            list-style-type: none;
            padding-right: $r - 0.5;

            a {
                text-decoration: none;
                display: flex;
                justify-content: center;

                &:hover {
                    color: #d1d3da
                }

            }
        }

        .redes-sociales {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: $r - 1.5;
            gap: 1em;

            i {
                font-size: $a*20;

                &:hover {
                    color: #d1d3da
                }
            }
        }

        .footer-logo {
            width: $r*7;
            transition: all 0.3s;

            &:hover {
                width: $r*9;
                transition: all 0.3s;
            }
        }
    }
}