main {
    .titulo {
        @extend h1;
        font-size: $r*1.5;
    }

    section {
        .pictures-container {
            width: 100%;
            padding: 10px;
            display: grid;
            grid-template-columns: 1 1fr;
            grid-gap: 5px;

            figure {
                @include box-g;

                .gallery-img {
                    width: 100%;
                }
            }
        }
    }
}