@media screen and (min-width:860px) {

    // main home

    main {
        h1 {
            font-size: $r*3;
        }

        .main-section-home {
            flex-direction: row;
            justify-content: space-around;

            .boton {
                font-size: $r - 0.5;
            }

            .contenedor-section {
                span {
                    display: flex;
                    flex-direction: column;
                    margin-top: 0;
                }
            }

            .contenedor-b {
                margin-top: 0;
            }

            .contenedor-c {
                margin-top: 0;
            }

            .frameHome {
                width: 400px;
            }
        }

        .carrousel {
            h2 {
                font-size: $r*2;
            }

            display: block;
        }
    }

    // estilos about

    .main-about {
        .section-about {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: $r;

            .frameAbout {
                width: 380px;
            }

            .description {
                width: 40%;
            }

        }
    }

    .section-tabla {
        h2 {
            font-size: $r*2;
        }
    }

    // estilos galerias

    main {
        section {
            padding: $r*2;

            .aves {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "img1 img2 img3"
                    "img1 img2 img4"
                    "img5 img6 img7"
                    "img8 img6 img7"
                    "img9 img10 img11";

                .gallery-picture--s1 {
                    grid-area: img1;
                }

                .gallery-picture--s2 {
                    grid-area: img3;
                }

                .gallery-picture--s3 {
                    grid-area: img4;
                }

                .gallery-picture--s4 {
                    grid-area: img2;
                }

                .gallery-picture--s5 {
                    grid-area: img5;
                }

                .gallery-picture--s6 {
                    grid-area: img8;
                }

                .gallery-picture--s7 {
                    grid-area: img9;
                }

                .gallery-picture--s8 {
                    grid-area: img6;
                }

                .gallery-picture--s9 {
                    grid-area: img10;
                }

                .gallery-picture--s10 {
                    grid-area: img7;
                }

                .gallery-picture--s11 {
                    grid-area: img11;
                }
            }

            .productos {

                figure {
                    @include box-g;
                }

                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: "img1 img2 img3"
                "img4 img4 img5"
                "img4 img4 img5"
                "img6 img7 img8";

                .gallery-picture--p1 {
                    grid-area: img1;
                }

                .gallery-picture--p2 {
                    grid-area: img2;
                }

                .gallery-picture--p3 {
                    grid-area: img3;
                }

                .gallery-picture-p4 {
                    grid-area: img6;
                }

                .gallery-picture--p5 {
                    grid-area: img4;
                }

                .gallery-picture--p6 {
                    grid-area: img7;
                }

                .gallery-picture--p7 {
                    grid-area: img5;
                }

                .gallery-picture--p8 {
                    grid-area: img8;
                }
            }

            .mix {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    "img1 img5 img5"
                    "img4 img5 img5"
                    "img6 img3 img2"
                    "img7 img8 img2"
                    "img9 img9 img9"
                    "img9 img9 img9";

                .gallery-picture--m1 {
                    grid-area: img1;
                }

                .gallery-picture--m2 {
                    grid-area: img2;
                }

                .gallery-picture--m3 {
                    grid-area: img3;
                }

                .gallery-picture-m4 {
                    grid-area: img4;
                }

                .gallery-picture--m5 {
                    grid-area: img6;
                }

                .gallery-picture--m6 {
                    grid-area: img7;
                }

                .gallery-picture--m7 {
                    grid-area: img9;
                }

                .gallery-picture--m8 {
                    grid-area: img5;
                }

                .gallery-picture--m9 {
                    grid-area: img8;
                }
            }
        }
    }
}