
// Estilos Home

main {
.main-section-home {
    padding-top: 2.5em;
    padding-bottom: 5em;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.contenedor-section {
    text-align: center;
    h3 {
        padding-top: 0.5em;
    }
    .frameHome {

        @include box;


        &:hover {
            filter: blur(2px);
    
        }

    
    }

}

}