// Variables

$bgcolor: #9960326e;
$bgcolorb: #ffc99d6e;
$bgcolor-secondary: #fff;
$border: 10px solid #58585a;
$box: 0px 4px 25px #383636;

// Operaciones

// r = relativa
// a = absoluta

$r: 2em;
$a: 2px;

// Mapas 

// Mapas color de textos, links y titulos

$colors: (txtcolora: #1b1a1a,
    txtcolorb: #4d4d4d);

@each $item,
$color in $colors {
    .color-#{$item} {
        color: $color
    }

    ;

}

// mixins 

@mixin box {
    width: 350px;
    border-radius: 16px;
    border: $border;
    box-shadow: $box;
    padding: $r;
    background-color: $bgcolor-secondary;

}

@mixin box-g {
    padding: $r - 1.5;
    background-color: $bgcolor-secondary;
    border: $r - 1.5 solid black;
}

@mixin titlesh1 {
    text-align: center;
    margin: $r auto;
    margin-top: 0;
    margin-bottom: $r - 1.5;
    font-family: "Archivo Black";
    font-size: $r*1.5;
    text-shadow: 4px 8px 20px #525253;
}

@mixin titleh2 {
    text-align: center;
    margin: $r auto;
    margin-top: 0;
    margin-bottom: $r - 1.5;
    font-family: "Josefin-sans";
    font-size: $r*1;
    font-weight: 800;
    text-shadow: 4px 8px 15px #9a9aa1;

}

@mixin boton {
    width: fit-content;
    font-size: $r - 0.8;
    font-family: "Josefin-sans";
    margin: $r - 1.5 auto;
    padding: $r - 1.5;
    font-weight: 800;
    background-color: $bgcolorb;
    border-radius: $r;
    box-shadow: $box;
    transition: all 0.5s;
    transition-timing-function: ease;

    &:hover {
        transform: scale(1.1);
        transition: all 0.5s;
        transition-timing-function: ease;
    }
}

// Extends 

.img-frame {
    width: 200px;
    border-radius: $a*8;
    border: $border;
    box-shadow: $box;
    padding: $r;
    background-color: $bgcolor-secondary;
}