
// Variables

$bgcolor: #6d4254;
$bgcolorb: #ffc99d6e;
$bgcolor-secondary: #fff;
$border: 10px solid #58585a;
$box: 0px 4px 25px #383636;

// Operaciones

// r = relativa
// a = absoluta

$r: 2em;
$a: 2px;

// Mapas 

// Mapas color de textos, links y titulos

$colors: (
    txtcolora: #000000,
    txtcolorb: #ffffff
);

@each $item, $color in $colors {
    .color-#{$item} {color: $color};
    
}

// mixins 

@mixin box {
    width: 350px;
    border-radius: 16px;
    border: $border;
    box-shadow: $box;
    padding: $r;
    background-color: $bgcolor-secondary;
    
}

@mixin box-g {
    padding: $r - 1.5;
    background-color: #fff;
    border: $a*3 solid black;
}

// Extends 

.img-frame {
    width: 200px;
    border-radius: $a*8;
    border: $border;
    box-shadow: $box;
    padding: $r;
    background-color: $bgcolor-secondary;

}